<% include partials/header %>
<div class="container">


<form action="/sushi" method="POST">
<input type="text" name="name" placeholder="item name">
<input type="text" name="image" placeholder="image url">
<input type="text" name="description" placeholder="item description">
<button>Submit</button>
</form>




</div>
<% include partials/footer %>